
.white-text {
    color: #ffffff;
}
.bg-light{
    color:#969696;
}
.display-6{
    font-size: 0.7rem;
}
.text-reset{
    color: darkgray;
    text-decoration: none;
}
.logo-img{
    width:10rem;
}

.navbar, .navbar-toggler {
	border-radius: 0;
	border: none;
	min-height: 50px;
    padding: 1rem;
}


.carousel-item{

    position:relative;
    background-repeat: no-repeat;

}
.cardcontainer{
    width: 350px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

.image-wrapper{
    position: relative;
}

figure.feature-icon {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

.feature-caption h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.feature-caption p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0px;
}

.features {
    padding: 25px 20px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    margin-bottom: 2rem;
}
.image-overlay{
    line-height: 1.5rem;
}


.header {
    position: relative;
    top: -10px;
    left: 20px;
    text-align: center;
    bottom:-20%;
}

.text{
    position: relative;
    bottom: 20px;
    left: 10px;
    text-align: center;
}

.card{
    margin-top: -15px;
    margin-bottom: -10px;
    padding-bottom: 10%; 
}

.list ul li a{
    text-decoration: none;
    color: black;
}


/* Media Query */ 


@media screen and (min-width: 320px) and (max-width: 425px){

    .carousel-caption {
       display: block !important;
    }
}

@media screen  and (min-width: 320px) and (max-width:425px){
    
   
    .carousel-caption h5{
        font-size: 0.6rem;
        color:blue;

    }
    .carousel-caption p{
        font-size: 0.4rem;
        color: blue;
    }
    .carousel-button{
        font-weight: 500;
        font-size:0.5rem;
        display: inline-block;
        padding: 5px 15px;
        border-radius: 50px;
        color: blue;
        border: 1px solid blue;
        margin-bottom: 20px;
    }
    .carousel-caption{
        position: absolute;
        color: white;
        left: 40%;
        top: 30%;
        transform: translate(-25%, -20%);
    }

    .text-block {
    
        background-color:white;
        color: black;
        padding-left: 15px;
        padding-right: 15px;
        top:12%;
        left: -1%;
        bottom: 15%;
        padding-top: 5%;
        width: 100%;
        margin-top: 20px;
    }

    .text-block h4{
        font-size: 1.5rem;
    }
    .text-block p{
        font-size: 1rem;
    }
    .text-block .carousel-button{
        font-size: 0.8rem;
    }


}

@media screen  and (min-width: 426px) and (max-width:768px){
    .carousel-caption h5{
        font-size: 1.5rem;
        color:blue;
    }
    .carousel-caption p{
        font-size: 0.9rem;
        color: blue;
    }
    .carousel-button{
        font-weight: 500;
        font-size:0.9rem;
        display: inline-block;
        padding: 5px 15px;
        border-radius: 50px;
        color: blue;
        border: 1px solid blue;
        margin-bottom: 20px;
    }

    .text-block {
    
        background-color:white;
        color: black;
        padding-left: 15px;
        padding-right: 15px;
        top:12%;
        left: -1%;
        bottom: 15%;
        padding-top: 5%;
        width: 100%;
        margin-top: 20px;
    }

    .text-block h4{
        font-size: 1.5rem;
    }
    .text-block p{
        font-size: 0.9rem;
    }
    .text-block .carousel-button{
        font-size: 0.8rem;
    }

}


@media screen  and (min-width: 1024px) and (max-width:1440px){
    .carousel-button{
        font-weight: 400;
        font-size:1rem;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 50px;
        margin: 5px;
        color: blue;
        border: 1px solid blue;
    }

    .carousel-caption h5{
        font-size: rem;
        font-weight: 600px;
        color:blue;
    }
    .carousel-caption p{
        font-size: 1rem;
        color: blue;
    }
    .text-block {
        background-color:white;
        color: black;
        right: 5px;
        top: 15%;
        left: -1%;
        bottom: 10%;
        position:absolute;
        padding-left: 40px;
        padding-right: 15px;
        margin: 10px 10px;
        padding-top: 50px;
        width:50%;
     
    }

    .text-block h4{
        font-size: 1.5rem;
    }
    .text-block p{
        font-size: 0.9rem;
    }
    .text-block .carousel-button{
        font-size: 0.8rem;
    }
    .text-primary{
        padding-top: 20px;
    }

}


/* @media screen and(min-width: 1024px) and (max-width:1440px){
    .text-block {
        background-color:white;
        color: black;
        right: 5px;
        top: 15%;
        left: -1%;
        bottom: 15%;
        position:absolute;
        padding-left: 15px;
        padding-right: 15px;
        margin: 10px 10px;
        padding-top: 50px;
        width:50%;
    }
    .text-block h4{
        font-size: 1rem;
    }
    .text-block p{
        font-size: 1rem;
    }
}


 



 */
